@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.wrapper {
  padding: 0 20px;
}
.wrapper__delivery {
  padding: 0 15px;
}

.header {
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  transition: background 0.3s ease;
  z-index: 5;
  overflow: hidden;
}
.header.active {
  background: #323232;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 90px;
}
.header__left {
  line-height: 80px;
}
.header__right {
  line-height: 80px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-button span {
  display: block;
  width: 17px;
  height: 3px;
  margin-bottom: 3px;
  background: #fff;
}
.header__titleLogo {
  display: block;
  width: 100px;
  height: 41px;
  margin-right: 1rem;
}
.header__titleLogo.inHeaderLeft {
  display: none;
}
.header__nav {
  display: none;
}
.header__navList {
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 330px;
  justify-content: space-between;
}
.header__navList a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.hero {
  min-height: 300px;
  height: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0624/9739/0834/files/bridge_hero_900x.jpg?v=1646423010");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
  transition: all 1.4s cubic-bezier(0.25, 0.1, 0.64, 1);
  overflow: hidden;
}
.hero.animating {
  transform: scale(1.05);
  transition: all 1.4s cubic-bezier(0.25, 0.1, 0.64, 1);
}
.hero__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 85%;
  max-width: 414px;
  margin: 0 auto;
  padding-top: 1.5rem;
  transform: none;
  opacity: 1;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.64, 1);
}
.hero__container.animating {
  transform: translateY(8%);
  opacity: 0;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.64, 1);
}
.hero__container h2 {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 1.8px;
}

.delivery {
  padding: 4rem 0;
  background: #f8f8f8;
}
.delivery__title {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1.8px;
}
.delivery__locationList {
  margin: 0;
  padding-top: 0.8rem;
  padding-left: 0;
  list-style: none;
}
.delivery__location {
  padding: 1.1rem 0;
  border-bottom: 1px solid #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.delivery__location h3 {
  margin: 0;
  font-size: 22px;
  line-height: 35px;
}
.delivery__location ion-icon {
  font-size: 22px;
  line-height: 35px;
  padding-top: 0.15rem;
}
.delivery__location ion-icon.triggerIcon {
  display: block;
}
.delivery__location ion-icon.triggerIcon-minus {
  display: none;
}
.delivery__location .delivery__accordionContent {
  display: none;
}
.delivery__location.showing ion-icon.triggerIcon {
  display: none;
}
.delivery__location.showing ion-icon.triggerIcon-minus {
  display: block;
}
.delivery__location.showing .delivery__accordionContent {
  display: block;
}
.delivery__locationOutline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.delivery__orderWaysList {
  padding-left: 0;
  list-style: none;
}
.delivery__orderWaysList a {
  color: #323232;
  line-height: 40px;
}
.delivery__accordionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.delivery__accordionContent p {
  font-size: 12px;
  font-weight: 400;
}

/* footer */
.footer {
  background: #f8f8f8;
  padding: 3rem 0;
}
.footer__container {
  text-align: center;
}
.footer section {
  padding: 2.5rem 0;
  border-bottom: 1px solid #e3e3e3;
}
.footer section:nth-child(3) {
  border-bottom: none;
}
.footer a, .footer p {
  margin: 0;
  color: #323232;
  font-weight: 400;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
}
.footer ul {
  margin: 0;
  padding-left: 0;
  padding: 0.5rem 0;
  list-style: none;
}
.footer ul li {
  line-height: 30px;
}
.footer__contactEmail {
  text-decoration: underline;
}
.footer__sectionTitle {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}
.footer__socialMediaIconsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 !important;
}
.footer__socialMediaIconsList li {
  min-width: 50px;
}
.footer__copyright {
  padding-top: 1rem;
}
.footer__copyrightList p {
  font-size: 12px;
  line-height: 25px;
}

/* media query */
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 32px;
  }
  .wrapper__delivery {
    padding: 0 30px;
  }

  .header {
    min-height: 65px;
  }
  .header__container {
    min-height: 65px;
  }
  .header__menu-button {
    display: none;
  }
  .header__titleLogo {
    display: none;
  }
  .header__titleLogo.inHeaderLeft {
    display: block;
  }
  .header__left {
    line-height: 65px;
  }
  .header__right {
    line-height: 65px;
    justify-content: flex-end;
  }
  .header__nav {
    display: block;
    flex-grow: 2;
  }

  .hero {
    background-position: 50% 29%;
  }

  .footer section {
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__left {
    line-height: 90px;
  }
  .header__right {
    line-height: 90px;
  }
  .header__titleLogo {
    width: 160px;
    height: 62px;
  }

  .hero {
    min-height: 410px;
  }
  .hero__container {
    width: 100%;
    padding-top: 0;
  }
  .hero__container h2 {
    font-size: 42px;
    line-height: 48px;
  }

  .footer {
    padding: 0;
  }
  .footer__container {
    padding: 0 32px;
  }
  .footer__contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .footer__contents section {
    flex: 33%;
    text-align: left;
  }
  .footer__socialMediaIconsList {
    margin-left: 0.5rem;
    justify-content: flex-start;
  }
  .footer__copyright {
    text-align: right;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    min-height: 576px;
  }
  .hero__container {
    max-width: 640px;
  }
}/*# sourceMappingURL=kento.css.map */