@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");

$colorGray: #e3e3e3;
$colorWhite: #fff;
$colorBlack: #323232;
$bgColorLittleGray: #f8f8f8;
$fontWeight700: 700;
$fontWeight600: 600;
$baseLetterSpacing: 1.8px;

* {
  box-sizing: border-box;
}

body {
  // temporary
  // min-height: 1000px;
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: $fontWeight600;
}

.wrapper {
  padding: 0 20px;

  &__delivery {
    padding: 0 15px;
  }
}

.header {
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  transition: background 0.3s ease;
  z-index: 5;
  overflow: hidden;
  background: transparent;

  &:hover {
    background: $colorBlack;
  }

  &.active {
    background: $colorBlack;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 90px;
  }

  &__left {
    line-height: 80px;
  }

  &__right {
    line-height: 80px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-button span {
    display: block;
    width: 17px;
    height: 3px;
    margin-bottom: 3px;
    background: $colorWhite;
  }

  &__titleLogo {
    display: block;
    width: 100px;
    height: 41px;
    margin-right: 1rem;

    &.inHeaderLeft {
      display: none;
    }
  }
  &__nav {
    display: none;
  }
  &__navList {
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    max-width: 330px;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $colorWhite;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.hero-scale {
  overflow: hidden;
}

.hero {
  min-height: 300px;
  height: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0624/9739/0834/files/bridge_hero_900x.jpg?v=1646423010");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
  transition: all 1.4s cubic-bezier(0.25, 0.1, 0.64, 1);

  &.animating {
    transform: scale(1.05);
    transition: all 1.4s cubic-bezier(0.25, 0.1, 0.64, 1);
  }

  &__container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 85%;
    max-width: 414px;
    margin: 0 auto;
    padding-top: 1.5rem;
    transform: none;
    opacity: 1;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.64, 1);

    &.animating {
      transform: translateY(8%);
      opacity: 0;
      transition: all 1s cubic-bezier(0.25, 0.1, 0.64, 1);
    }

    & h2 {
      margin: 0;
      color: $colorWhite;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: $baseLetterSpacing;
    }
  }
}

.delivery {
  padding: 4rem 0;
  background: $bgColorLittleGray;

  &__title {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: $baseLetterSpacing;
  }
  &__locationList {
    margin: 0;
    padding-top: 0.8rem;
    padding-left: 0;
    list-style: none;
  }
  &__location {
    padding: 1.1rem 0;
    border-bottom: 1px solid $colorBlack;
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & h3 {
      margin: 0;
      font-size: 22px;
      line-height: 35px;
    }

    & ion-icon {
      font-size: 22px;
      line-height: 35px;
      padding-top: 0.15rem;
      cursor: pointer;

      &.triggerIcon {
        display: block;
      }
      &.triggerIcon-minus {
        display: none;
      }
    }

    & .delivery__accordionContent {
      display: none;
    }
  }
  &__location.showing {
    & ion-icon {
      &.triggerIcon {
        display: none;
      }
      &.triggerIcon-minus {
        display: block;
      }
    }
    & .delivery__accordionContent {
      display: block;
    }
  }
  &__locationOutline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__orderWaysList {
    padding-left: 0;
    list-style: none;

    & a {
      color: $colorBlack;
      line-height: 40px;
    }
  }
  &__accordionContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    & p {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

/* footer */
.footer {
  background: $bgColorLittleGray;
  padding: 3rem 0;

  &__container {
    text-align: center;
  }

  & section {
    padding: 2.5rem 0;
    border-bottom: 1px solid $colorGray;

    &:nth-child(3) {
      border-bottom: none;
    }
  }

  & a,
  & p {
    margin: 0;
    color: $colorBlack;
    font-weight: 400;
    font-size: 14px;
  }

  & a {
    text-decoration: none;
  }

  & ul {
    margin: 0;
    padding-left: 0;
    padding: 0.5rem 0;
    list-style: none;

    & li {
      line-height: 30px;
    }
  }
  &__contactEmail {
    text-decoration: underline;
  }

  &__sectionTitle {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
  }
  &__socialMediaIconsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 !important;

    & li {
      min-width: 50px;
    }
  }
  &__copyright {
    padding-top: 1rem;
  }
  &__copyrightList p {
    font-size: 12px;
    line-height: 25px;
  }
}

/* media query */
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 32px;

    &__delivery {
      padding: 0 30px;
    }
  }

  .header {
    min-height: 65px;

    &__container {
      min-height: 65px;
    }

    &__menu-button {
      display: none;
    }
    &__titleLogo {
      display: none;
      &.inHeaderLeft {
        display: block;
      }
    }
    &__left {
      line-height: 65px;
    }
    &__right {
      line-height: 65px;
      justify-content: flex-end;
    }
    &__nav {
      display: block;
      // width: 100%;
      flex-grow: 2;
    }
  }
  .hero {
    // background-size: auto;
    background-position: 50% 29%;
  }

  .footer section {
    border-bottom: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__left {
      line-height: 90px;
    }
    &__right {
      line-height: 90px;
    }
    &__titleLogo {
      width: 160px;
      height: 62px;
    }
  }
  .hero {
    min-height: 410px;
    transform: scale(1.3);

    &__container {
      // width: 100%;
      width: 80%;
      margin: 0 auto;
      padding-top: 0;

      & h2 {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }

  .footer {
    padding: 0;

    &__container {
      padding: 0 32px;
    }

    &__contents {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      & section {
        flex: 33%;
        text-align: left;
      }
    }
    &__socialMediaIconsList {
      margin-left: 0.5rem;
      justify-content: flex-start;
    }
    &__copyright {
      text-align: right;
      padding-bottom: 3rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    min-height: 576px;

    &__container {
      max-width: 640px;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
// mixin wrapper {
@mixin wrapper {
  padding: 0 20px;

  &__delivery {
    padding: 0 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;

    &__delivery {
      padding: 0 30px;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
// mixin header
@mixin header {
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  transition: all 0.3s ease;
  z-index: 5;
  overflow: hidden;

  &.active {
    background: $colorBlack;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 90px;
  }

  &__left {
    line-height: 80px;
  }

  &__right {
    line-height: 80px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-button span {
    display: block;
    width: 17px;
    height: 3px;
    margin-bottom: 3px;
    background: $colorWhite;
  }

  &__titleLogo {
    display: block;
    width: 100px;
    height: 41px;
    margin-right: 1rem;

    &.inHeaderLeft {
      display: none;
    }
  }
  &__nav {
    display: none;
  }
  &__navList {
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    max-width: 330px;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $colorWhite;
      font-weight: 400;
      font-size: 14px;
    }
  }
  @media screen and (min-width: 768px) {
    min-height: 65px;

    &__container {
      min-height: 65px;
    }

    &__menu-button {
      display: none;
    }
    &__titleLogo {
      display: none;
      &.inHeaderLeft {
        display: block;
      }
    }
    &__left {
      line-height: 65px;
    }
    &__right {
      line-height: 65px;
      justify-content: flex-end;
    }
    &__nav {
      display: block;
      width: 100%;
      flex-grow: 2;
    }
  }
  @media screen and (min-width: 1024px) {
    &__left {
      line-height: 90px;
    }
    &__right {
      line-height: 90px;
    }
    &__titleLogo {
      width: 160px;
      height: 62px;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
// mixin hero
@mixin hero {
  min-height: 300px;
  height: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0624/9739/0834/files/bridge_hero_900x.jpg?v=1646423010");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: none;
  transition: all 1.4s cubic-bezier(0.25, 0.1, 0.64, 1);
  overflow: hidden;

  &.animating {
    transform: scale(1.05);
    transition: all 1.4s cubic-bezier(0.25, 0.1, 0.64, 1);
  }

  &__container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 85%;
    max-width: 414px;
    margin: 0 auto;
    padding-top: 1.5rem;
    transform: none;
    opacity: 1;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.64, 1);

    &.animating {
      transform: translateY(8%);
      opacity: 0;
      transition: all 1s cubic-bezier(0.25, 0.1, 0.64, 1);
    }

    & h2 {
      margin: 0;
      color: $colorWhite;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: $baseLetterSpacing;
    }
  }
  @media screen and (min-width: 768px) {
    background-position: 50% 29%;
  }
  @media screen and (min-width: 1024px) {
    min-height: 410px;

    &__container {
      width: 100%;
      padding-top: 0;

      & h2 {
        font-size: 42px;
        line-height: 48px;
      }
    }
  }
  @media screen and (min-width: 1440px) {
    min-height: 576px;

    &__container {
      max-width: 640px;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
// mixin footer
@mixin footer {
  background: $bgColorLittleGray;
  padding: 3rem 0;

  &__container {
    text-align: center;
  }

  & section {
    padding: 2.5rem 0;
    border-bottom: 1px solid $colorGray;

    &:nth-child(3) {
      border-bottom: none;
    }
  }

  & a,
  & p {
    margin: 0;
    color: $colorBlack;
    font-weight: 400;
    font-size: 14px;
  }

  & a {
    text-decoration: none;
  }

  & ul {
    margin: 0;
    padding-left: 0;
    padding: 0.5rem 0;
    list-style: none;

    & li {
      line-height: 30px;
    }
  }
  &__contactEmail {
    text-decoration: underline;
  }

  &__sectionTitle {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
  }
  &__socialMediaIconsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 !important;

    & li {
      min-width: 50px;
    }
  }
  &__copyright {
    padding-top: 1rem;
  }
  &__copyrightList p {
    font-size: 12px;
    line-height: 25px;
  }

  @media screen and (min-width: 768px) {
    & section {
      border-bottom: none;
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 0;

    &__container {
      padding: 0 32px;
    }

    &__contents {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      & section {
        flex: 33%;
        text-align: left;
      }
    }
    &__socialMediaIconsList {
      margin-left: 0.5rem;
      justify-content: flex-start;
    }
    &__copyright {
      text-align: right;
      padding-bottom: 3rem;
    }
  }
}

//
//
//
//
//
//
//
//
//
//
// mixin footer
@mixin delivery {
  padding: 4rem 0;
  background: $bgColorLittleGray;

  &__title {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: $baseLetterSpacing;
  }
  &__locationList {
    margin: 0;
    padding-top: 0.8rem;
    padding-left: 0;
    list-style: none;
  }
  &__location {
    padding: 1.1rem 0;
    border-bottom: 1px solid $colorBlack;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h3 {
      margin: 0;
      font-size: 22px;
      line-height: 35px;
    }

    & ion-icon {
      display: block;
      font-size: 22px;
      line-height: 35px;
      padding-top: 0.15rem;
      cursor: pointer;
    }

    &.triggerIcon {
      display: block;
    }
    &.triggerIcon-minus {
      display: none;
    }
  }
  & .delivery__accordionContent {
    display: none;
  }
  &__location.showing {
    & ion-icon {
      &.triggerIcon {
        display: none;
      }
      &.triggerIcon-minus {
        display: block;
      }
    }
    & .delivery__accordionContent {
      display: block;
    }
  }
}
