$colorBlack: #323232;
$colorWhite: #fff;

.wrapper {
  padding: 0 20px;

  &__delivery {
    padding: 0 15px;
  }
}

.header {
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  // NEEDED
  background-color: $colorBlack;
  //
  //

  &.active {
    background: $colorBlack;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 90px;
  }

  &__left {
    line-height: 80px;
  }

  &__right {
    line-height: 80px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-button span {
    display: block;
    width: 17px;
    height: 3px;
    margin-bottom: 3px;
    background: $colorWhite;
  }

  &__titleLogo {
    display: block;
    width: 100px;
    height: 41px;
    margin-right: 1rem;

    &.inHeaderLeft {
      display: none;
    }
  }
  &__nav {
    display: none;
  }
  &__navList {
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    max-width: 330px;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $colorWhite;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

/* media query */
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 32px;

    // NEEDED
    background-color: $colorBlack;
    //
    //

    &__delivery {
      padding: 0 30px;
    }
  }

  .header {
    min-height: 65px;

    &__container {
      min-height: 65px;
    }

    &__menu-button {
      display: none;
    }
    &__titleLogo {
      display: none;
      &.inHeaderLeft {
        display: block;
      }
    }
    &__left {
      line-height: 65px;
    }
    &__right {
      line-height: 65px;
      justify-content: flex-end;
    }
    &__nav {
      display: block;
      width: 100%;
      flex-grow: 2;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__left {
      line-height: 90px;
    }
    &__right {
      line-height: 90px;
    }
    &__titleLogo {
      width: 160px;
      height: 62px;
    }
  }
}

// mixin wrapper {
@mixin wrapper {
  padding: 0 20px;

  &__delivery {
    padding: 0 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;

    &__delivery {
      padding: 0 30px;
    }
  }
}

// mixin header
@mixin header {
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;

  &.active {
    background: $colorBlack;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 90px;
  }

  &__left {
    line-height: 80px;
  }

  &__right {
    line-height: 80px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-button span {
    display: block;
    width: 17px;
    height: 3px;
    margin-bottom: 3px;
    background: $colorWhite;
  }

  &__titleLogo {
    display: block;
    width: 100px;
    height: 41px;
    margin-right: 1rem;

    &.inHeaderLeft {
      display: none;
    }
  }
  &__nav {
    display: none;
  }
  &__navList {
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    max-width: 330px;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: $colorWhite;
      font-weight: 400;
      font-size: 14px;
    }
  }
  @media screen and (min-width: 768px) {
    min-height: 65px;

    &__container {
      min-height: 65px;
    }

    &__menu-button {
      display: none;
    }
    &__titleLogo {
      display: none;
      &.inHeaderLeft {
        display: block;
      }
    }
    &__left {
      line-height: 65px;
    }
    &__right {
      line-height: 65px;
      justify-content: flex-end;
    }
    &__nav {
      display: block;
      width: 100%;
      flex-grow: 2;
    }
  }
  @media screen and (min-width: 1024px) {
    &__left {
      line-height: 90px;
    }
    &__right {
      line-height: 90px;
    }
    &__titleLogo {
      width: 160px;
      height: 62px;
    }
  }
}
