@use 'header';
@use 'footer';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

$location-bg-color: #f8f8f8;
$location-details-bg-color: #f1f2f3;
$location-basic-color: #333333;
$location-title-color: #414141;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: $location-basic-color;
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  // NEEDED
  margin-top: 90px;
  //
  //
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 3vw;
  background-color: $location-bg-color;
  font-family: 'Roboto Slab', serif;
}

.details {
  color: $location-title-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .img-container {
    overflow: hidden;
    background-color: $location-details-bg-color;
  }

  img {
    width: 100%;

    animation: pinchInAnime 1.5s ease-in-out 0.5s;
    @keyframes pinchInAnime {
      0% {
        transform: scale(1.08);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  .location-info {
    background-color: $location-details-bg-color;
    padding: 9vw 2vw 0vw 2vw;
    line-height: 1.5vw;
    font-weight: 15px;

    .animationText {
      animation: fadeInAnime 1.5s ease-in-out 0.5s;

      @keyframes fadeInAnime {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    h1 {
      font-size: 40px;
      margin-bottom: 5px;
      font-family: 'Roboto Slab', serif;
      margin-bottom: 45px;
    }

    strong {
      padding-bottom: 1vw;
      line-height: 20px;
    }

    span {
      padding: 1px 0;
      font-weight: lighter;
      border-bottom: 1px solid;
      line-height: 20px;
    }

    p {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 770px) {
  .details {
    grid-template-columns: 1fr;

    .location-info {
      h1 {
        line-height: 3.5rem;
      }
      text-align: center;

      h4 {
        padding: 2rem 0rem 1rem 0rem;
      }

      p {
        padding: 0.8rem 0 0.5rem 0;
        line-height: 150%;
      }
      p:last-child {
        padding-bottom: 3rem;
      }
    }
  }

  .details:nth-child(2n) {
    img {
      order: 1;
    }
    .location-info {
      order: 2;
    }
  }
}
