@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
.wrapper {
  padding: 0 20px;
}
.wrapper__delivery {
  padding: 0 15px;
}

.header {
  min-height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
  background-color: #323232;
}
.header.active {
  background: #323232;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 90px;
}
.header__left {
  line-height: 80px;
}
.header__right {
  line-height: 80px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-button span {
  display: block;
  width: 17px;
  height: 3px;
  margin-bottom: 3px;
  background: #fff;
}
.header__titleLogo {
  display: block;
  width: 100px;
  height: 41px;
  margin-right: 1rem;
}
.header__titleLogo.inHeaderLeft {
  display: none;
}
.header__nav {
  display: none;
}
.header__navList {
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  max-width: 330px;
  justify-content: space-between;
}
.header__navList a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

/* media query */
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 32px;
    background-color: #323232;
  }
  .wrapper__delivery {
    padding: 0 30px;
  }

  .header {
    min-height: 65px;
  }
  .header__container {
    min-height: 65px;
  }
  .header__menu-button {
    display: none;
  }
  .header__titleLogo {
    display: none;
  }
  .header__titleLogo.inHeaderLeft {
    display: block;
  }
  .header__left {
    line-height: 65px;
  }
  .header__right {
    line-height: 65px;
    justify-content: flex-end;
  }
  .header__nav {
    display: block;
    width: 100%;
    flex-grow: 2;
  }
}
@media screen and (min-width: 1024px) {
  .header__left {
    line-height: 90px;
  }
  .header__right {
    line-height: 90px;
  }
  .header__titleLogo {
    width: 160px;
    height: 62px;
  }
}
@media screen and (min-width: 768px) {
  .footer section {
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 0;
  }
  .footer__container {
    padding: 0 32px;
  }
  .footer__contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .footer__contents section {
    flex: 33%;
    text-align: left;
  }
  .footer__socialMediaIconsList {
    margin-left: 0.5rem;
    justify-content: flex-start;
  }
  .footer__copyright {
    text-align: right;
    padding-bottom: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333333;
}

body {
  font-family: "Roboto", sans-serif;
}

.title {
  margin-top: 90px;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  padding: 3vw;
  background-color: #f8f8f8;
  font-family: "Roboto Slab", serif;
}

.details {
  color: #414141;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.details .img-container {
  overflow: hidden;
  background-color: #f1f2f3;
}
.details img {
  width: 100%;
  -webkit-animation: pinchInAnime 1.5s ease-in-out 0.5s;
          animation: pinchInAnime 1.5s ease-in-out 0.5s;
}
@-webkit-keyframes pinchInAnime {
  0% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pinchInAnime {
  0% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.details .location-info {
  background-color: #f1f2f3;
  padding: 9vw 2vw 0vw 2vw;
  line-height: 1.5vw;
  font-weight: 15px;
}
.details .location-info .animationText {
  -webkit-animation: fadeInAnime 1.5s ease-in-out 0.5s;
          animation: fadeInAnime 1.5s ease-in-out 0.5s;
}
@-webkit-keyframes fadeInAnime {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInAnime {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.details .location-info h1 {
  font-size: 40px;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
  margin-bottom: 45px;
}
.details .location-info strong {
  padding-bottom: 1vw;
  line-height: 20px;
}
.details .location-info span {
  padding: 1px 0;
  font-weight: lighter;
  border-bottom: 1px solid;
  line-height: 20px;
}
.details .location-info p {
  margin: 20px 0;
}

@media screen and (max-width: 770px) {
  .details {
    grid-template-columns: 1fr;
  }
  .details .location-info {
    text-align: center;
  }
  .details .location-info h1 {
    line-height: 3.5rem;
  }
  .details .location-info h4 {
    padding: 2rem 0rem 1rem 0rem;
  }
  .details .location-info p {
    padding: 0.8rem 0 0.5rem 0;
    line-height: 150%;
  }
  .details .location-info p:last-child {
    padding-bottom: 3rem;
  }

  .details:nth-child(2n) img {
    order: 1;
  }
  .details:nth-child(2n) .location-info {
    order: 2;
  }
}/*# sourceMappingURL=location.css.map */