$colorMenu: white;
$fonts: 'Roboto Slab', serif;

* {
    font-family: $fonts;
    box-sizing: border-box;
}

.image {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: $colorMenu;
    text-align: center;
}

.pizza-menu, .pizza-toppings {
    display: flex;
    justify-content: space-between;
}

.pizza-slice {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 2%;
}

.pizza-menu {
    &__firsthalf-menu {
        text-align: right;
        margin-left: 1%;
    }
    &__secondhalf-menu {
        text-align: left;
        margin-right: 3.5%;
    }
}

.pizza-toppings {
    &__firsthalf-menu {
        text-align: right;
        margin-left: 14%;
    }
    &__secondhalf-menu {
        text-align: left;
        margin-right: 2%;
    }
}

.footer-menu {
    margin-bottom: 2%;
}

.story {
    &__story-part {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    }
    &__story-tell {
        position: absolute;
        text-align: center;
        width: 45%;
        height: 50%;      
        bottom: 20px;
        top: 190px;
        left: 810px;
        background-color: white;
    }
}

.images {
    &__first-collage {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.story__second-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
